[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "2-PicoSetup/BlinkLEDExt/lib/FreeRTOS-Kernel"]
	path = 2-PicoSetup/BlinkLEDExt/lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
